page-login {

    // Fullscreen centered image background
  ion-content {
    background-image: url('../assets/imgs/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    -webkit-background-image: url('../assets/imgs/login.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;

  }
  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    text-align: center;
  }

  .formContent{
      position: relative;
      width: 70%;
      left: 15%;
  }

  ion-segment {
    //width: 70%;
    //position: fixed;
    //bottom: 45%;
   // left: 15%;
    background-color: transparent;
    z-index: 999;
  }
  
  form {
    //  height: 49%;
   // width: 70%;
   // position: fixed;
   // bottom: 0%;
  //  left: 15%;
    background-color: transparent;
    z-index: 998;
   // opacity: 0.8;
    margin-top: -2em;
        
}

@media only screen and (min-width: 600px) {   //baisser la width
    .formContent{
        position: relative;
        width: 60%;
        left: 20%;
    }
            
}

.no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
}


.list {
    margin: 0;
    background-color: transparent;
    opacity: 1;
}

.item {
         //border-radius: 60px !important;     // rectangle arrondi
         //padding-left: 10px !important;
         margin-bottom: 0.2em;
         opacity: 1;
         font-size: 1em;
         background-color: transparent;
            
}
          

ion-label{
            margin-left: 5px;
            background-color: transparent;
}

ion-input{
    color: black;;
    background-color: transparent;
    //padding-bottom: 0.5em;
    opacity: 1;
       
 }

.invalid{
    // border-bottom: 1px solid #ff6153;             // ????
    border-bottom: 1px solid #f0e7e7;             // ????

}
.error-message{
    margin-bottom: -1em;
    margin-top: -1em;
    margin-left: -1em;
            min-height: 2.2rem;
            p {
                font-size: 70%;
            }
            ion-label{
                margin: 2px0;            // ??
            }
            .item-inner{
                border-bottom: 0 !important;
            }
}

.login-button {
    margin-top: -2em;
    width: 100%;
    // border-radius: 30px;
    font-size: 1em;
    // border: 1px solid #fff;
  
}

.signin {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    color: grey;
    margin-top: -1em;
}


}
