.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  /* background-position: 50%; */
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 4em;
  line-height: 1.5em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}

.flag-icon-small {
  background-size: contain;
  /* background-position: 50%; */
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 4em;
  line-height: 1.5em;
}

