page-modal-chat {

    // ion-footer {
    //     &.footer-md::before {
    //         background-image: none;
    //     }
    // }
    .scroll-content {
      // overflow: visible !important;
      // overflow: scroll; 
       display: flex;
      flex-direction: column;
      }

      .scroll-content ion-list {
        margin-top: auto;
        margin-bottom: 0;
      }
    
    ion-footer {
       // background-color: transparent !important;
        background-color: rgba(255, 255, 255, 0);
        border-top-width: 0;
        border-top: none;

    }

    .refresher {
        position: fixed; 
        right: 5%;

    }

   // background-color: whitesmoke;

    .pseudo {
        display: flex,
    }

    .comment {
        max-width: 80% ;  // bugggggggggggggg
    }


    .removeBut {
        position: fixed;
        top: 8%;
        right: 2%;
        
    }

    .addBut {
        position: fixed; 
        bottom: 2%;
        right: 5%;
        z-index: 1000;
    }

    .inputComment{
        position: fixed;
        bottom: 2%;
    }
}
