page-classement {

    .icon {
        font-size: 50px;
    }
    .icon1 {
        color: gold;
    }
    .icon2 {
        color: silver;
    }
    .icon3 {
        color: #614E1A;
    }

    .linkB{
        width: 1.1em;
    }

    .segm {
        width: '60%';
        left : '20%';
        position: relative;
    }
}


